.nav{
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}
.item{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.active{
    color: rgb(97, 81, 0);
    text-decoration: none;
}
.friendsText{
    color: white;
}
.friendsDiv{
    display: flex;
    width: 200px;
}